@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-300.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-300.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-300.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-300.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-300.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-300.svg) format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-300italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-300italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-300italic.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-300italic.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-300italic.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-300italic.svg) format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-regular.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-regular.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-regular.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-regular.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-italic.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-italic.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-italic.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-italic.svg) format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-500.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-500.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-500.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-500.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-500.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-500.svg) format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-500italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-500italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-500italic.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-500italic.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-500italic.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-500italic.svg) format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-600.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-600.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-600.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-600.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-600.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-600.svg) format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-700.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-700.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-700.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-700.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-700.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-700.svg) format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-700italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-700italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-700italic.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-700italic.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-700italic.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-700italic.svg) format('svg');
	font-weight: 700;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-800.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-800.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-800.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-800.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-800.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-800.svg) format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-800italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-800italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-800italic.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-800italic.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-800italic.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-800italic.svg) format('svg');
	font-weight: 800;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Poppins';
	src: url(../../assets/fonts/poppins-v5-latin-900.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-900.eot) format('embedded-opentype'),
	url(../../assets/fonts/poppins-v5-latin-900.woff2) format('woff2'),
	url(../../assets/fonts/poppins-v5-latin-900.woff) format('woff'),
	url(../../assets/fonts/poppins-v5-latin-900.ttf) format('truetype'),
	url(../../assets/fonts/poppins-v5-latin-900.svg) format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}