.form-background {
  width: 300px;
  border: solid 1px rgba(102, 102, 102, 0.356);
  border-radius: 20px;
}

.logo-login {
  width: 75px;
  height: 75px;
  background-color: #0d6efd;
  margin: auto;
}

form a {
  text-decoration: none;
  color: #0d6efd;
}

